#logo {
  height: 90px;
  padding-right: 300px;
}

.navbar {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.nav-link {
  font-size: 16px;
  color: #fff !important;
  -webkit-transition: .2s;
  transition: .2s;
  color: #32cf7b;
}

.nav-link:hover {
  color: #229D5C !important;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: 'Gandhi Sans Regular';
}

.navbar-dark .navbar-toggler {
  outline: none;
}

.button {
  color: #ffffff;
  background-color: #229D5C;
  padding: 10px 20px;
  font-size: 13px;
  letter-spacing: 1px;
  font-family: 'Gandhi Sans Bold';
  border: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  border-radius: 3px;
  text-align: center;
  border: 2px solid #229D5C;
  cursor: pointer;
}

.button:hover {
  color: #229D5C;
  background-color: transparent;
  border: 2px solid #229D5C;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

footer {
  margin: 80px 0 0 0;
  background: #229D5C;
  font-family: 'Gandhi Sans Regular';
}

footer .line-top {
  border-top: solid 1px #cfcdd3;
  padding-top: 20px;
  position: relative;
  width: 100%;
}

footer .direitos {
  color: #fff;
  display: inline;
  text-align: left;
  vertical-align: middle;
  position: relative;
  bottom: 10px;
}

footer .box-footer {
  margin: 25px 0;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

footer .box-footer p {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 18px;
}

footer .box-footer .redes-sociais .fab {
  padding: 0 8px;
  font-size: 22px;
  color: #fff;
}

footer .box-footer .redes-sociais .fab:hover {
  color: #32cf7b;
}

footer .box-footer .txt-destaque {
  margin-bottom: 25px;
}

footer .box-footer .txt-destaque h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 15px;
  font-family: "Playfair Display", serif;
}

@media (max-width: 764px) {
  footer .col-md-3:nth-child(2) {
    display: none;
  }
  footer .box-footer {
    margin: 25px 0;
    width: 100%;
    display: inline-block;
  }
  footer .box-footer .txt-destaque::after {
    width: 40px;
    height: 2px;
    background: #fff;
    margin: 10px 20px;
    display: block;
    content: "";
  }
  footer .box-footer .txt-destaque h3 {
    color: #fff;
    font-size: 20px;
    padding: 15px 0px;
    font-weight: 400;
    margin: 0px 0 0 20px;
    line-height: 15px;
    font-family: "Playfair Display", serif;
  }
  footer .box-footer p {
    padding: 0px 20px;
  }
  footer .box-footer .redes-sociais {
    padding: 0 20px;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.fa .far .fas {
  font-family: 'Font Awesome 5 Free' !important;
}

body {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  color: #727376;
  line-height: 1.6;
}

ul {
  list-style: none !important;
}

a {
  text-decoration: none !important;
}

.page-section-top {
  padding: 80px 0 0 0;
}

.page-section-top h2 {
  color: #229D5C;
}

.page-section-top li {
  color: #229D5C;
  font-size: 20px;
  padding: 5px;
}

.page-section-top li .fa {
  padding: 0 10px;
  font-size: 25px;
}

.page-section-top li a {
  color: #727376;
}

.page-section-top li a:hover {
  color: #229D5C;
}

.page-section-top .bottom-img {
  float: right;
  bottom: 0;
  left: 0;
  right: 0;
}

.page-section-middle {
  padding: 80px 0 0 0;
  background-color: #f7f7f7;
}

.page-section-middle h2 {
  color: #229D5C;
}

.page-section-bottom {
  padding: 80px 0 0 0;
  background-color: #f7f7f7;
}

.page-section-bottom h2 {
  color: #229D5C;
}

#parallaxBar {
  height: 590px;
  background-color: #229D5C;
  background: url(../img/banner2.jpg) 50% 0 fixed;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

#parallaxBar .txt-parallax {
  background: #000;
  bottom: 20px;
  position: absolute;
  width: 80%;
  opacity: 0.9;
  padding: 15px;
  right: 0;
  font-family: 'Gandhi Sans Regular';
}

#parallaxBar .txt-parallax::before {
  display: none;
  position: absolute;
  content: "";
  width: 120px;
  height: 2px;
  margin: 25px 20px;
  background: #229D5C;
}

#parallaxBar .txt-parallax h2 {
  color: #229D5C;
  padding-top: 5px;
  font-size: 35px;
  padding-left: 135px;
}

#parallaxBar .txt-parallax h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 40px;
  margin: 0;
  color: #fff;
  line-height: 40px;
  padding-bottom: 25px;
  padding-left: 35px;
}

#parallaxBar .txt-parallax li {
  color: #9e9da0;
  font-weight: 500;
  font-size: 16px;
  display: contents;
  position: relative;
  padding: 0px 0px 7px 30px;
}

#parallaxBar .txt-parallax p {
  color: #9e9da0 !important;
  font-weight: 700;
  letter-spacing: 2.5px;
  line-height: 18px;
}

#parallaxBar .leia-mais {
  font-family: 'Gandhi Sans Regular';
  display: inline-block;
  color: #fff;
  background-color: #229D5C;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 60px;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
  text-decoration: none;
}

#parallaxBar .leia-mais:hover {
  color: #229D5C;
  background-color: #fff;
  border: 1px #229D5C solid;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

#carouselExampleIndicators {
  font-family: 'Gandhi Sans Regular';
}

#carouselExampleIndicators .carousel-inner .txt-fullbanner h3 {
  color: #fff !important;
  width: 100%;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
}

#carouselExampleIndicators .carousel-inner .carousel-caption {
  position: absolute;
  top: 45%;
  z-index: 10;
  color: #fff;
  text-align: center;
}

#carouselExampleIndicators .carousel {
  background-color: rgba(114, 113, 116, 0.4) !important;
  z-index: 10;
  width: 100%;
}

#parallax-news {
  height: 350px;
  top: 0;
  background-color: #004c82;
  background: url(../img/medicina-novidades.png) 100% 0 fixed;
  position: relative;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

#parallax-news::before {
  background: rgba(0, 0, 0, 0.7);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

#parallax-news .txt-parallax {
  font-family: 'Gandhi Sans Regular';
  bottom: 30px;
  position: absolute;
  width: 100%;
  opacity: 0.9;
  text-align: center;
  right: 0;
}

#parallax-news .txt-parallax .button {
  float: right;
}

#parallax-news .txt-parallax::before {
  display: none;
  position: absolute;
  content: "";
  width: 120px;
  height: 2px;
  margin: 25px 20px;
  background: #229D5C;
}

#parallax-news .txt-parallax h2 {
  color: #229D5C;
  padding-top: 5px;
  font-size: 35px;
  padding-left: 135px;
  font-family: 'Playfair Display', serif;
}

#parallax-news .txt-parallax h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 40px;
  margin: 0;
  color: #fff;
  line-height: 40px;
  padding-bottom: 25px;
  padding-left: 35px;
  font-family: 'Cambria Regular', serif;
}

#parallax-news .txt-parallax li {
  color: #9e9da0;
  font-weight: 500;
  font-family: 'Cambria Regular';
  font-size: 16px;
  display: contents;
  position: relative;
  padding: 0px 0px 7px 30px;
}

#parallax-news .txt-parallax p {
  color: #9e9da0 !important;
  font-weight: 700;
  letter-spacing: 2.5px;
  line-height: 18px;
  font-family: 'Cambria Regular';
}

.data-not {
  position: absolute;
  z-index: 999;
  top: 10px;
  left: 15px;
  color: #229D5C;
  font-size: 20px;
}

.features {
  padding: 15px;
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 350px;
  margin: 1rem;
  position: relative;
  width: 300px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07), 0 1px 2px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07), 0 1px 2px rgba(0, 0, 0, 0.07);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.features:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.07), 0 10px 10px rgba(0, 0, 0, 0.07);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.07), 0 10px 10px rgba(0, 0, 0, 0.07);
}

.features .feature-icon {
  font-size: 40px;
  text-align: center;
  width: 100%;
  color: #229D5C;
  margin-bottom: 20px;
}

.features .feature-info {
  text-align: justify;
  font-family: 'Gandhi Sans Regular';
}

.features .box-button {
  width: 100%;
  text-align: center;
}

.features .box-button .button {
  float: none;
}

.features-news {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 410px;
  margin: 1rem;
  position: relative;
  width: 300px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07), 0 1px 2px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07), 0 1px 2px rgba(0, 0, 0, 0.07);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.features-news:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.07), 0 10px 10px rgba(0, 0, 0, 0.07);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.07), 0 10px 10px rgba(0, 0, 0, 0.07);
}

.features-news .feature-info {
  font-family: 'Gandhi Sans Regular';
}

.features-news .feature-info .feature-title {
  color: #323232;
}

.features-news .feature-info h4:hover {
  color: #229D5C;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.features-news .box-button {
  width: 100%;
  text-align: center;
}

.features-news .box-button .button {
  float: none;
}

.features-news .box-button .button a {
  color: #fff;
}
/*# sourceMappingURL=main.css.map */